body{ 
    color: white;
    background: hotpink;
    margin: 0px;
    font-family: "Abril Fatface", serif;
}

header{
    border-bottom: solid 2px white;
    padding: 20px;
    font-size: 32px;
    color: white;
}


.chamada {
    background: rgb(255, 194, 236);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 8%;
    
}
h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}
img {

}
   

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 5px;
}
.categoria {
    padding-left: 20px;
    padding-right: 20px;
}

.categoria-videos img {
opacity: 0.8;
height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 2px solid white;
}